.orderDetail {
	&--wrapper {
		display: grid;
		gap: 1rem;
		margin-bottom: 1rem;

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&--table {
		margin-bottom: 2rem;
		&--action {
			text-align: right;
		}
	}

	&--info {
		font-size: 0.9rem;

		li {
			line-height: 1.4;
		}
	}
}

.actionCol {
	max-width: 140px;

	a {
		display: inline-block;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;

		@media (max-width: 1400px) {
			display: block;

			width: 100%;
		}

		button {
			width: 100%;
		}
	}
}
