.registrationData {
	&--wrapper {
		display: grid;
		gap: 1rem;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}

		.card:has(.userCard) {
			@media (min-width: 768px) {
				display: grid;
				place-items: center;

				grid-column: 4 / 5;
				grid-row: 1 / 3;
			}
		}

		.card--basicOverview {
			@media (min-width: 768px) {
				grid-column: span 2;
			}
		}

		&.noUserData {
			@media (min-width: 768px) {
				grid-template-columns: 2fr 1fr;
			}
			.card {
				&--basicInfo,
				&--contact {
					display: none;
				}
			}
		}
	}
}

.main:has(.noUserData) {
	max-width: 1000px !important;
}
