.registrationData {
	&--wrapper {
		display: grid;
		gap: 1rem;

        max-width: 1300px;
        margin-inline: auto;

		@media (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}

        .smallCards {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
        }

	}
}

.main:has(.noUserData) {
	max-width: 1000px !important;
}
